.md-editor-container {
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.md-editor-container.fullscreen {
  margin: 0;
  position: fixed;
  border: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999;
}

.md-editor-container.fullscreen .editor-panel {
  height: calc(100vh - 40px) !important;
}

.md-editor-container.fullscreen .preview-panel {
  height: calc(100vh - 40px) !important;
}

.md-editor-container .ace-editor {
  height: 100%;
}

.md-editor-container .tool-bar {
  background-color: whitesmoke;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.md-editor-container .tool-bar .btn-group {
  padding: 6px;
}

.md-editor-container .tool-bar .btn-group > .btn:first-child::before {
  content: ' ';
  background-color: darkgray;
  width: 1px;
  height: 24px;
  left: -9px;
  top: 2px;
  position: absolute;
}

.md-editor-container .tool-bar .btn-group:first-child > .btn:first-child::before {
  display: none;
}

.md-editor-container .tool-bar .btn-group.hide-split > .btn:first-child::before {
  display: none;
}

.md-editor-container .tool-bar .btn {
  margin-bottom: 0;
}

.md-editor-container .editor-container {
  display: flex;
}

.md-editor-container .editor-container>div .drag-container {
  display: none;
}

.md-editor-container .editor-container>div.dragover {
  position: relative;
}

.md-editor-container .editor-container>div.dragover .drag-container {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
}

.md-editor-container .editor-container>div.dragover .drag-container.drag-container-mask {
  background-color: transparent;
  z-index: 11;
}

.md-editor-container .editor-container>div.dragover .drag-container .upload-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.md-editor-container .editor-container>div.dragover .drag-container .upload-loading .text {
  font-size: 20px;
  margin-top: 10px;
}

.md-editor-container .editor-container>div {
  flex: 1;
}

.md-editor-container .preview-panel {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 10px;
  overflow-y: auto;
}

.md-editor-container .md-footer {
  padding: 2px;
  background-color: #f0f0f0;
  font-size: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}